{% extends "base/base.html" -%}
{% block content -%}


<div class="row row-cols-1" id="top_steps">

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description">{{ all_portfolios['profit_today_absolute'] }} €</div>
                    <div class="title">Performance today</div>
                </div>
                <div class="ordered_step_number">{{ all_portfolios['profit_today_relative'] }}%</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description">{{ all_portfolios['profit_total_absolute'] }} €</div>
                    <div class="title"> overall return</div>
                </div>
                <div class="ordered_step_number">{{ all_portfolios['profit_total_relative'] }}%</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description">&nbsp;</div>
                    <div class="title">portfolio value</div>
                </div>
                <div class="ordered_step_number"> {{ all_portfolios['value'] }} €</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description"> &nbsp;</div>
                    <div class="title">dividends</div>
                </div>
                <div class="ordered_step_number"> {{ all_portfolios['dividend'] }} €</div>
            </div>
        </div>
    </div>


</div>

<div class="row row-cols-1">
    <!-- table portfolios -->
    <div class="col-md-6 mb-4">
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card" id="linechart_all_portfolios" data-val="{{doughnut_asset_allocation_data}}"
                     label-val="{{doughnut_asset_allocation_label}}">
                    <div class="card-header"></div>

                    <div class="card-body"></div>
                </div>
            </div>

            <div class="col-md-12 mb-4">

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Portfolio</th>
                        <th scope="col">performance today</th>
                        <th scope="col">portfolio value</th>
                        <th scope="col">overall return</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for portfolio in portfolios %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('portfolio') }}?id={{ portfolio.id }}">{{ portfolio.title
                            }}</a>
                        </th>
                        <td>{{ portfolio.profit_today_absolute }}</td>
                        <td>
                            <div class="ui label">
                                <i class="fas fa-euro-sign"></i> {{ portfolio.portfolio_value }}
                            </div>
                        </td>
                        <td>
                            {% if portfolio.profit_today_absolute >= 0 %}
                            <div class="ui label green">
                                <i class="fas fa-caret-up"></i> {{ portfolio.profit_total_absolute }}
                            </div>
                            {% else %}
                            <div class="ui label red">
                                <i class="fas fa-caret-down"></i> {{ portfolio.profit_total_absolute }}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="row">
            <!-- doughnut -->
            <div class="col-md-12 mb-4">
                <div class="card" id="doughnut_asset_allocation" data-val="{{doughnut_asset_allocation_data}}"
                     label-val="{{doughnut_asset_allocation_label}}">
                    <div class="card-header"></div>

                    <div class="card-body"></div>
                </div>
            </div>

            <hr/>
            <!-- news -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">filler</div>
                    <div class="card-body"></div>

                </div>
            </div>

            <!-- news -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">News</div>
                    <div class="card-body">
                        {% include "newsfeed.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{%- endblock content %}


{% block footer -%}
<script>


    var data_asset_allocation = [1200, 65, 55, 380, 1900,];
    var labels_asset_allocation = ['Stocks', 'RiskStocks', 'ETFs', 'Crypto', 'Cash'];

    doughnut_asset_allocation_data = JSON.parse($('#doughnut_asset_allocation').attr('data-val').replaceAll('\'', '\"'))
    doughnut_asset_allocation_label = JSON.parse($('#doughnut_asset_allocation').attr('label-val').replaceAll('\'', '\"'))

    chart_doughnut('#doughnut_asset_allocation', 'Distrubution', doughnut_asset_allocation_data, doughnut_asset_allocation_label)


    chart_linechart('#linechart_all_portfolios', 'Portfolios', data_asset_allocation, labels_asset_allocation)

</script>
{%- endblock footer %}