<div class="card mb-4">
    <div id="portfolio_stocks_card" class="card-body fixed_scrollable_hight" style="padding: 0;">
        <table id="portfolio_stocks" class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Investment</th>
                <th scope="col" id="profit_label_title">profit total</th>
                <th scope="col">
                    <span id="add_stock_button"><i class="fas fa-plus"></i></span>
                </th>
            </tr>
            </thead>
            <tbody>

            {% for asset in assets %}


                <tr class="asset_elem" data-symbol="{{ asset.symbol }}" data-title=" {{ asset.name }}"
                    data-price="{{ asset.price }}">
                    <th scope="row">
                        <h5 class="ui sub header">
                            <a href="{{ url_for('asset.asset_index',portfolio_id=portfolio.id, symbol=asset.symbol) }}">
                                {{ asset.name }}
                            </a>
                        </h5>
                        {% set quantity = asset.quantity %}

                        {% set int_part, decimal_part = "{}".format(quantity).split('.') %}
                        {% if decimal_part == '0' %}
                            {% set quantity = int_part %}
                        {% endif %}
                        <div class="ui mini label">
                            x {{ quantity }}
                        </div>
                        <span class="asset_elem_subheader_absolute hidden">
                                <div class="ui mini label" style="background: none !important;">
                                     {{ asset.value }} €
                                </div>
                            </span>
                        <span class="asset_elem_subheader_relative">
                                <div class="ui mini label" style="background: none !important;">
                                    {{ asset.price }} = 1
                                </div>
                            </span>

                    </th>
                    <td>
                            <span class="profit_label" counter="0"
                                  data-val="{{ asset.profit['total_absolute'] }}~{{ asset.profit['total_relative'] }}~{{ asset.profit['today_absolute'] }}~{{ asset.profit['today_relative'] }}">
                                {% if asset.profit['total_absolute'] >= 0 %}
                                    <div class="ui small label green">
                                    <i class="fas fa-caret-up"></i> <span>{{ asset.profit['total_absolute'] }}</span>
                                </div>
                                {% else %}
                                    <div class="ui small label red">
                                    <i class="fas fa-caret-down"></i> <span>{{ asset.profit['total_absolute'] }}</span>

                                </div>
                                {% endif %}
                            </span>
                    </td>
                    <td>
                            <span class="edit_stock_button" portfolio_id="{{ portfolio_id }}"
                                  asset_id="{{ asset.id }}"><i
                                    class="fas fa-ellipsis-v"></i>
                            </span>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>