<div class="row row-cols-1" id="top_steps">
    {% include "portfolio/top_steps.html" %}
</div>

<div class="row row-cols-1">

    <!-- table -->
    <div class="col-md-3 mb-4">
        {% include "portfolio/modules/asset_list.html" %}
    </div>

    <!-- line chart -->
    <div class="col-md-6 mb-4">
        {% include "portfolio/modules/linechart.html" %}
    </div>

    <div class="col-md-3">
        <!-- doughnut countries -->
        {% include "portfolio/stock/portfolio_country_distribution.html" %}
    </div>

    <div class="col-md-3">
        <!-- stock distribution -->
        {% include "portfolio/modules/portfolio_stock_distribution.html" %}
    </div>
    <div class="col-md-3">
        <!-- doughnut sectors -->
        {% include "portfolio/stock/portfolio_sector_distribution.html" %}
    </div>

    <div class="col-md-6">
        {% include "modules/newsfeed/newsfeed.html" %}
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Test</div>
            <div class="card-body">
                <div class="ui tiny green progress">
                    <div class="bar"></div>
                    <div class="label">Tiny</div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>