<div class="row">
    <!-- general info -->
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header">Price</div>
            <div class="card-body">
                {% for key, value in financials.items() %}
                    <b>{{ key.strftime('%d.%m.%Y') }}</b>
                    <table class="table">
                        {% for k, v in value.items() %}
                            {% if v != None %}
                                <tr>
                                    <th scope="row">{{ k }}</th>
                                    <td>{{ v }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header">Quarterly Financials</div>
            <div class="card-body">
                {% for key, value in quarterly_financials.items() %}
                    <b>{{ key.strftime('%d.%m.%Y') }}</b>
                    <table class="table">
                        {% for k, v in value.items() %}
                            {% if v != None %}
                                <tr>
                                    <th scope="row">{{ k }}</th>
                                    <td>{{ v }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header">Dividend info</div>
            <div class="card-body">
                <table class="table">
                    {% for info in financials['dividend'] %}
                        <tr>
                            <th scope="row">{{ info }}</th>
                            <td>{{ financials['dividend'][info] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header">Earnings</div>
            <div class="card-body">
                <table class="table">
                    {% for info in financials['earnings'] %}
                        <tr>
                            <th scope="row">{{ info }}</th>
                            <td>{{ financials['earnings'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


</div>