<div class="row">
    <!-- general info -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-header">major_holders</div>
            <div class="card-body">
                <b>{{ key }}</b>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    {% for i in major_holders %}
                        {% for key, value in major_holders[i].items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


</div>