<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='frameworks/semanticUI/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='frameworks/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='frameworks/jQuery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='frameworks/fontAwesome/font-awesome.min.js') }}"></script>
    <script src="{{ url_for('static', filename='frameworks/semanticUI/semantic.min.js') }}"></script>
    <!--    <script src="{{ url_for('static', filename='frameworks/bootstrap/js/bootstrap.min.js') }}"></script> -->
</head>