<div class="sidebar-sticky pt-3">

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-12 col-lg-2 mr-0 px-3" href="{{ url_for('index.index') }}">AssetManager
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
                data-target="#searchbar_wrapper" aria-controls="searchbar_wrapper" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="ui loader"></div>

    </nav>

    <br/>
    <div class="ui search" id="searchbar_wrapper">
        <input class="prompt" id="searchbar" type="text" placeholder="Search symbol...">
        <div id="searchbar_results" class="results"></div>
    </div>
    <br>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {% if request.url_rule.endpoint == "index.index" %} active {% endif %}"
               href="{{ url_for('index.index') }}">
                <span data-feather="home"></span>
                Home <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.url_rule.endpoint == "moneyManager.moneyManager" %} active {% endif %}"
               href="{{ url_for('moneyManager.moneyManager') }}">
                <span data-feather="home"></span>
                Money Manager
            </a>
        </li>
    </ul>
    <hr/>

    <ul class="nav flex-column mb-2">
        <a class="nav-link" id="update_data_full">
            <!-- todo rederict to url-->
            <span data-feather="file-text"></span>
            Update data full
        </a>

    </ul>
    <hr/>
    <ul class="nav flex-column mb-2">

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                News
            </a>
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Upcoming IPOS
                <div class="ui label">
                    5
                </div>
            </a>
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Upcoming dates / events
                <div class="ui label">
                    2
                </div>
            </a>
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Dividends
            </a>
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Sentiment analysis
            </a>

        </li>
    </ul>
</div>
