<div class="row">
    <div class="col-md-3">
        {% include "modules/breadcrumb.html" %}
    </div>
    <div class="col-md-9">
        <div class="main_navigation ui secondary pointing menu">
            <a class="item" data-attr="transactions">
                Transactions
            </a>

            <a class="item" data-attr="add_transaction">
                Add Transaction
            </a>


            {% include "modules/main_navigation_account.html" %}
        </div>
    </div>

</div>
