<div class="row row-cols-1 info_step">
    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">Performance today</div>
                    <div class="description">
                        {% if portfolio.profit_today_rel >= 0 %}
                            +{% endif %}{{ portfolio.profit_today_rel }} %
                    </div>
                </div>
                <div class="ordered_step_number">
                    {% if portfolio.profit_today_abs >= 0 %} +{% endif %}
                    {{ portfolio.profit_today_abs }} €
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title"> overall return</div>
                    <div class="description">
                        {% if portfolio.profit_total_rel >= 0 %}
                            +{% endif %}{{ portfolio.profit_total_rel }} %
                    </div>
                </div>
                <div class="ordered_step_number">
                    {% if portfolio.profit_total_abs >= 0 %}
                        +{% endif %}{{ portfolio.profit_total_abs }} €
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">portfolio value</div>
                    <div class="description">&nbsp;</div>
                </div>
                <div class="ordered_step_number"> {{ portfolio.value }} €</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">dividends</div>
                    <div class="description"> &nbsp;</div>
                </div>
                <div class="ordered_step_number"> {{ portfolio.calc_expected_dividend() }} €</div>
            </div>
        </div>
    </div>
</div>