{% extends "base/base.html" -%}
{% block content -%}


    {% if asset.type == 1 %} <!-- stock -->
        {% include "assets/stock/base.html" %}
    {% endif %}


    {% if asset.type == 2 %} <!-- etf -->
        {% include "assets/etf/base.html" %}
    {% endif %}


    {% if asset.type == 3 %} <!-- crypto -->
        {% include "assets/crypto/crypto.html" %}
    {% endif %}


{%- endblock content %}

{% block footer -%}


    <script>
        let symbol = '{{ asset.symbol }}';
        let title = '{{ asset.title }}';
        let price = '{{ asset.price }}';
    </script>
    <script src="{{ url_for('static', filename='js/assets/asset.js') }}"></script>
{%- endblock footer %}