{% extends "base/base.html" -%}
{% block content -%}

    {% include "index/top_steps.html" %}

    <div class="row">

        <!-- table portfolios -->
        <div class="col-md-3 mb-4">
            {% include "index/portfolio_list.html" %}
        </div>


        <!-- doughnut -->
        <div class="col-md-3 mb-4">
            {% include "index/portfolio_asset_distribution.html" %}
        </div>

        <div class="col-md-6 mb-4">
            {% include "modules/newsfeed/newsfeed.html" %}
        </div>


        <div class="col-md-6 mb-4">

            <div class="card">
                <div class="card-header">Transaction</div>
                <div class="card-body">

                    <div class="toggleble_nav ui secondary pointing menu">
                        <a class="item" data-attr="all">
                            All
                        </a>

                        {% for portfolio in portfolios %}
                            <a class="item" data-attr="{{ portfolio.id }}">
                                {{ portfolio.title }}
                            </a>
                        {% endfor %}
                    </div>

                </div>


                <div class="toggleble_nav_content">
                        <div class="elem" data-attr="all">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Symbol</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Timestamp</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in user.get_all_transactions() %}
                                    <tr>
                                        <th scope="row">{{ transaction.type_str.title }}</th>
                                        <td>{{ transaction.symbol }}</td>
                                        <td>{{ transaction.price }}</td>
                                        <td>{{ transaction.quantity }}</td>
                                        <td>{{ transaction.timestamp }}</td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    {% for portfolio in portfolios %}
                        <div class="elem hidden" data-attr="{{ portfolio.id }}">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Symbol</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Timestamp</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in portfolio.transactions %}
                                    <tr>
                                        <th scope="row">{{ transaction.type_str.title }}</th>
                                        <td>{{ transaction.symbol }}</td>
                                        <td>{{ transaction.price }}</td>
                                        <td>{{ transaction.quantity }}</td>
                                        <td>{{ transaction.timestamp }}</td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    {% endfor %}
                </div>


                <div class="card-footer"></div>
            </div>
        </div>
    </div>


{%- endblock content %}


{% block footer -%}
    <script>
        //all_symbols = '{{ all_symbols }}';
        all_symbols = '["APC.F"]';
        user_id = '{{ USER_ID }}';
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{%- endblock footer %}