{% extends "base/base.html" -%}
{% block content -%}

    {% include "index/main_navigation.html" %}

    {% include "index/top_steps.html" %}

    <div class="row">

        <!-- table portfolios -->
        <div class="col-md-3 mb-4">
            {% include "index/portfolio_list.html" %}
        </div>


        <!-- doughnut -->
        <div class="col-md-3 mb-4">
            {% include "index/portfolio_asset_distribution.html" %}
        </div>

        <div class="col-md-6 mb-4">
            {% include "modules/newsfeed/newsfeed.html" %}
        </div>


        <div class="col-md-6 mb-4">
            {% include "index/monthly_transactions.html" %}
        </div>

        <div class="col-md-4 mb-4">
            {% set transactions = user.get_all_transactions() %}
            {% include "portfolio/modules/transactions.html" %}
        </div>
    </div>


{%- endblock content %}


{% block footer -%}
    <script>
        //all_symbols = '{{ all_symbols }}';
        all_symbols = '["APC.F"]';
        user_id = '{{ USER_ID }}';
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{%- endblock footer %}