<div class="card">
    <div class="card-body" style="padding: 0;">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Portfolio</th>
                <th scope="col" id="profit_label_title">profit total</th>
            </tr>
            </thead>
            <tbody>
            {% for portfolio in portfolios %}
            <tr class="portfolio_elem">
                <th scope="row">


                    <h1 class="ui sub header">
                        <a href="{{ url_for('portfolio.portfolio') }}?id={{ portfolio.id }}">{{ portfolio.title
                            }}</a>
                    </h1>
                    <span>
                        <div class="ui label">
                            {{ portfolio.value }}
                        </div>
                    </span>
                </th>

                <td>
                    {% if portfolio.portfolio_type == 1 or
                    portfolio.portfolio_type == 2 or
                    portfolio.portfolio_type == 3%}
                    <span class="profit_label" counter="0"
                          data-val="{{ portfolio.total_absolute }}~{{ portfolio.today_relative }}~{{ portfolio.today_absolute }}~{{ portfolio.total_relative }}">
                            {% if portfolio.calc_portfolio_profit().total_absolute >= 0 %}
                            <div class="ui label green">
                                <i class="fas fa-caret-up"></i> <span>{{ portfolio.calc_portfolio_profit().total_absolute }}</span>
                            </div>
                            {% else %}
                            <div class="ui label red">
                                <i class="fas fa-caret-down"></i> <span>{{ portfolio.calc_portfolio_profit().total_absolute }}</span>
                            </div>
                            {% endif %}
                             </span>
                    {% endif %}
                </td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>