<div class="card">
    <div class="card-body" style="padding: 0;">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Portfolio</th>
                <th scope="col" id="profit_label_title">profit total</th>
            </tr>
            </thead>
            <tbody>
            {% for portfolio in portfolios %}
            <tr class="portfolio_elem">
                <th scope="row">


                    <h1 class="ui sub header">
                        <a href="{{ url_for('portfolio.portfolio') }}?id={{ portfolio.id }}">{{ portfolio.title }}</a>
                    </h1>
                    <span>
                        <div class="ui label">
                            {{ portfolio.value }}
                        </div>
                    </span>
                </th>

                <td>

                    <span class="profit_label"
                          data-val="{{ portfolio.profit['total_absolute'] }}~{{ portfolio.profit['today_relative'] }}~{{ portfolio.profit['today_absolute'] }}~{{ portfolio.profit['total_relative'] }}">
                            {% if portfolio.profit['total_absolute'] >= 0 %}
                                <div class="ui label green">
                                <i class="fas fa-caret-up"></i> <span>{{ portfolio.profit['total_absolute'] }}</span>
                            </div>
                            {% else %}
                                <div class="ui label red">
                                <i class="fas fa-caret-down"></i> <span>{{ portfolio.profit['total_absolute'] }}</span>
                            </div>
                            {% endif %}
                             </span>
                </td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>