<div class="row row-cols-1 info_step">

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">Performance today</div>
                    <div class="description">
                        {% if user.profit_today_rel >= 0 %}
                            + {% endif %}{{ user.profit_today_rel }} %
                    </div>
                </div>
                <div class="ordered_step_number">
                    {% if user.profit_today_abs >= 0 %} + {% endif %}
                    {{ user.profit_today_abs }} €
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title"> overall return</div>
                    <div class="description">
                        {% if user.profit_total_rel >= 0 %}
                            +{% endif %}{{ user.profit_total_rel }} %
                    </div>
                </div>
                <div class="ordered_step_number">
                    {% if user.profit_total_abs >= 0 %}
                        +{% endif %}{{ user.profit_total_abs }} €
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">Net worth</div>
                    <div class="description">&nbsp;</div>
                </div>
                <div class="ordered_step_number"> {{ user.networth }} €</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">dividends</div>
                    <div class="description"> &nbsp;</div>
                </div>
                <div class="ordered_step_number"> {{ user.expected_dividend }} €</div>
            </div>
        </div>
    </div>


</div>
