<div class="row row-cols-1 info_step">

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">Performance today</div>
                    <div class="description">
                        {% if user.calc_profit()['profit_today_relative'] >= 0 %}
                            + {% endif %}{{ user.calc_profit()['profit_today_relative'] }} %
                    </div>
                </div>
                <div class="ordered_step_number">
                    {% if user.calc_profit()['profit_today_absolute'] >= 0 %} + {% endif %}
                    {{ user.calc_profit()['profit_today_absolute'] }} €
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title"> overall return</div>
                    <div class="description">
                        {% if user.calc_profit()['profit_total_relative'] >= 0 %}
                            +{% endif %}{{ user.calc_profit()['profit_total_relative'] }} %
                    </div>
                </div>
                <div class="ordered_step_number">
                    {% if user.calc_profit()['profit_total_absolute'] >= 0 %}
                        +{% endif %}{{ user.calc_profit()['profit_total_absolute'] }} €
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">Net worth</div>
                    <div class="description">&nbsp;</div>
                </div>
                <div class="ordered_step_number"> {{ user.calc_networth() }} €</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="title">dividends</div>
                    <div class="description"> &nbsp;</div>
                </div>
                <div class="ordered_step_number"> {{ user.calc_dividend() }} €</div>
            </div>
        </div>
    </div>


</div>
