<div class="card mb-4" id="stock_distribution">
    <div class="card-header">
        <div class="settings ui mini basic icon buttons">
            <button class="ui button active change_chart_type"><i class="fas fa-chart-bar"></i></button>
               <button class="ui button absolute"><i class="fas fa-euro-sign"></i></button>
            <button class="ui button relative"><i class="fas fa-percent"></i></button>
        </div>
        <span></span>
    </div>

    <div class="card-body"></div>
    <div class="card-footer">
        <table id="sector_stocks" class="table">
            {% for asset in assets %}
            <tr>
                <td>
                    <h5 class="ui sub header">
                        <a href="{{ url_for('stock') }}?portfolio={{ portfolio_id }}&stock={{ asset.id }}">{{
                            asset.title }}</a>
                    </h5>
                    <span>
                       <div class="progress">
                           <div class="progress-bar bg-success" role="progressbar"
                                style="width: {{ asset.portfolio_percentage * 4 }}%"
                                aria-valuenow="{{ asset.portfolio_percentage }}" aria-valuemin="0"
                                aria-valuemax="100"></div>
                           <span>{{ asset.portfolio_percentage }}%</span>
                       </div>
                    </span>
                </td>

                <td>
                    <div class="ui label">
                        {{ asset.asset_value }} €
                    </div>
                </td>
            </tr>

            {% endfor %}
        </table>


    </div>
</div>