{% extends "base/base.html" -%}
{% block content -%}

<div class="row row-cols-1" id="top_steps">
    {% include "portfolio/top_steps.html" %}
</div>

<div class="row row-cols-1">

    <!-- table -->
    <div class="col-md-3 mb-4">
        <div class="card mb-4">
            <div id="portfolio_stocks_card" class="card-body overflow-auto" style="padding: 0;">
                <table id="portfolio_stocks" class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Investment</th>
                        <th scope="col" id="profit_label_title">profit total</th>
                        <th scope="col">
                            <span id="add_stock_button"><i class="fas fa-plus"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asset in assets %}
                    <tr class="asset_elem" data-symbol="{{ asset.symbol }}" data-title="{{ asset.title }}"
                        data-price="{{ asset.regularMarketPrice }}">
                        <th scope="row">
                            <h5 class="ui sub header">
                                {% if asset.asset_type == 1 %} <!-- or etf -->
                                <a href="{{ url_for('stock') }}?portfolio={{ portfolio_id }}&asset={{ asset.id }}">
                                    {{ asset.title }} </a>
                                {% else %}
                                <a href="{{ url_for('etf') }}?portfolio={{ portfolio_id }}&asset={{ asset.id }}">
                                    {{ asset.title }}</a>
                                {% endif %}
                            </h5>
                            <span>
                                <div class="ui mini label">
                                    x {{ asset.quantity }}
                                </div>
                                <div class="ui mini label" style="background: none !important;">
                                     {{ asset.asset_value }}
                                </div>
                            </span>

                        </th>
                        <td>
                            <span class="profit_label" counter="0"
                                  data-val="{{ asset.profit_total_absolute }}~{{ asset.profit_total_relative }}~{{ asset.profit_today_absolute }}~{{ asset.profit_today_relative }}">
                                {% if asset.profit_total_absolute >= 0 %}
                                <div class="ui small label green">
                                    <i class="fas fa-caret-up"></i> <span>{{ asset.profit_total_absolute }}</span>
                                </div>
                                {% else %}
                                <div class="ui small label red">
                                    <i class="fas fa-caret-down"></i> <span>{{ asset.profit_total_absolute }}</span>

                                </div>
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <span class="edit_stock_button" portfolio_id="{{ portfolio_id }}"
                                  asset_id="{{ asset.id }}"><i
                                    class="fas fa-ellipsis-v"></i>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- news -->
    <div class="col-md-6 mb-4">
        <div class="card" id="linechart">
            <div class="card-header"></div>
            <div class="card-body">
                <!-- [2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo] -->
                <div class="settings ui mini basic icon buttons">
                    <button class="ui button active" id="today" data-days="2" data-period="5m">Today</button>
                    <button class="ui button" data-id="week" data-days="7" data-period="60m">Week</button>
                    <button class="ui button" data-id="month" data-days="30" data-period="1d">Month</button>
                    <button class="ui button" data-id="year" data-days="365" data-period="5d">Year</button>
                    <button class="ui button" data-id="max" data-days="1800" data-period="1mo">Max</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <!-- doughnut countries -->
        {% include "portfolio/portfolio_country_distribution.html" %}
    </div>

    <div class="col-md-3">
        <!-- stock distribution -->
        {% include "portfolio/portfolio_stock_distribution.html" %}
    </div>
    <div class="col-md-3">
        <!-- doughnut sectors -->
        {% include "portfolio/portfolio_sector_distribution.html" %}
    </div>

    <div class="col-md-6">
        <div class="card" id="portfolio_news">
            <div class="card-body">
                {% include "newsfeed.html" %}
            </div>
        </div>
    </div>
</div>

</div>


<!-- Modal edit stock -->
<div class="modal fade" id="edit_stock_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_stock_modal_label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="dbcol" col="id">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control dbcol" col="title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">BuyIn</label>
                        <input type="number" class="form-control dbcol" col="buyIn">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" class="form-control dbcol" col="quantity">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Portfolio</label>
                        <select class="form-select dbcol-opt" col="portfolio">
                            {% for user_portfolio in user_portfolios_with_same_type %}
                            <option id="edit_stock_modal_portfolio_{{ user_portfolio['id'] }}"
                                    db-id="{{ user_portfolio['id'] }}">
                                {{ user_portfolio['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Sector</label>
                        <select class="form-select dbcol-opt" col="sector">
                            {% for sector in all_sectors %}
                            <option id="edit_stock_modal_sector_{{ sector['id'] }}" db-id="{{ sector['id'] }}">{{
                                sector['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit_form">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal edit stock -->
<div class="modal fade" id="add_stock_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add_stock_modal_label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="dbcol" col="portfolio" value="{{ portfolio[0]['id'] }}">
                    <input type="hidden" class="dbcol" col="portfolio_type"
                           value="{{ portfolio[0]['portfolio_type'] }}">
                    <div class="mb-3">
                        <label class="form-label">Symbol</label>

                        <div class="ui search" id="search_symbol">
                            <input class="prompt form-control dbcol" col="symbol" type="text"
                                   placeholder="APC.F">
                            <div class="results"></div>
                        </div>


                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control dbcol" col="title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Sector</label>
                        <select class="form-select dbcol-opt" col="sector">
                            {% for sector in all_sectors %}
                            <option id="add_stock_modal_sector_{{ sector['id'] }}" db-id="{{ sector['id'] }}">{{
                                sector['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">BuyIn</label>
                        <input type="number" class="form-control dbcol" col="buyIn">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" class="form-control dbcol" col="quantity">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit_form">Save changes</button>
            </div>
        </div>
    </div>
</div>


{%- endblock content %}

{% block footer -%}

<script>
    let portfolio_id = '{{ portfolio_id }}';
</script>
<script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>

{%- endblock footer %}