{% extends "base/base.html" -%}
{% block content -%}

<div class="row row-cols-1" id="top_steps">

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description">{{ portfolio[0]['profit_today_absolute'] }} €</div>
                    <div class="title">Performance today</div>
                </div>
                <div class="ordered_step_number">{{ portfolio[0]['profit_today_relative'] }} %</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description">{{ portfolio[0]['profit_total_absolute'] }} €</div>
                    <div class="title"> overall return</div>
                </div>
                <div class="ordered_step_number">{{ portfolio[0]['profit_total_relative'] }} %</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description">&nbsp;</div>
                    <div class="title">portfolio value</div>
                </div>
                <div class="ordered_step_number"> {{ portfolio[0]['portfolio_value'] }} €</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="ui steps">
            <div class="step">
                <div class="content">
                    <div class="description"> &nbsp;</div>
                    <div class="title">dividends</div>
                </div>
                <div class="ordered_step_number"> {{ portfolio[0]['dividend'] }} €</div>
            </div>
        </div>
    </div>


</div>


<div class="row row-cols-1">


    <!-- table -->
    <div class="col-md-4 mb-4">
        <div class="card mb-4">
            <div class="card-body" style="padding: 0;">
                <table id="portfolio_stocks" class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Investment</th>
                        <th scope="col" id="profit_label_title">profit total (absolute)</th>
                        <th scope="col">
                            <span id="add_stock_button"><i class="fas fa-plus"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asset in assets %}
                    <tr>
                        <th scope="row">


                            {% if asset.asset_type == 1 %} <!-- or etf -->


                            <h1 class="ui sub header">
                                <a href="{{ url_for('stock') }}?portfolio={{ portfolio_id }}&stock={{ asset.id }}">{{
                                    asset.title
                                    }}</a>
                            </h1>
                            <span>
                        <div class="ui label">
                            x {{ asset.quantity }}
                        </div>
                        <div class="ui label" style="background: none !important;">
                             {{ asset.asset_value }}
                        </div>
                    </span>

                            {% else %}
                            <a href="/asset?id={{ asset.id }}">{{ asset.title }}</a>
                            {% endif %}
                        </th>
                        <td>

                    <span class="profit_label" counter="0"
                          data-val="{{ asset.profit_total_absolute }}~{{ asset.profit_total_relative }}~{{ asset.profit_today_absolute }}~{{ asset.profit_today_relative }}">
                        {% if asset.profit_total_absolute >= 0 %}
                        <div class="ui label green">
                            <i class="fas fa-caret-up"></i> <span>{{ asset.profit_total_absolute }}</span>
                        </div>
                        {% else %}
                        <div class="ui label red">
                            <i class="fas fa-caret-down"></i> <span>{{ asset.profit_total_absolute }}</span>

                        </div>
                        {% endif %}
                    </span>
                        </td>
                        <td>

                        <span class="edit_stock_button" portfolio_id="{{ portfolio_id }}"
                              asset_id="{{ asset.id }}"><i
                                class="fas fa-ellipsis-v"></i></span>


                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-md-8 mb-4">
        <div class="row ">
            <!-- doughnut assets-->
            <div class="col-md-6">

                {% include "portfolio/portfolio_stock_distribution.html" %}
            </div>
            {% if portfolio[0]['portfolio_type'] == 1 or portfolio[0]['portfolio_type'] == 4 %} <!-- stock or cash -->
            <div class="col-md-6">
                <!-- doughnut sectors -->
                {% include "portfolio/portfolio_sector_distribution.html" %}
            </div>
            {% endif %}
            <!-- news -->
            <div class="card mb-4" id="portfolio_news">

                <div class="card-body">
                    {% include "newsfeed.html" %}
                </div>
            </div>
        </div>


    </div>

</div>


<!-- Modal edit stock -->
<div class="modal fade" id="edit_stock_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_stock_modal_label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="dbcol" col="id">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control dbcol" col="title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">BuyIn</label>
                        <input type="text" class="form-control dbcol" col="buyIn">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control dbcol" col="quantity">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Portfolio</label>
                        <select class="form-select dbcol-opt" col="portfolio">
                            {% for user_portfolio in user_portfolios_with_same_type %}
                            <option id="edit_stock_modal_portfolio_{{ user_portfolio['id'] }}"
                                    db-id="{{ user_portfolio['id'] }}">
                                {{ user_portfolio['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Sector</label>
                        <select class="form-select dbcol-opt" col="sector">
                            {% for sector in all_sectors %}
                            <option id="edit_stock_modal_sector_{{ sector['id'] }}" db-id="{{ sector['id'] }}">{{
                                sector['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit_form">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal edit stock -->
<div class="modal fade" id="add_stock_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add_stock_modal_label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="dbcol" col="portfolio" value="{{ portfolio[0]['id'] }}">
                    <input type="hidden" class="dbcol" col="portfolio_type"
                           value="{{ portfolio[0]['portfolio_type'] }}">
                    <div class="mb-3">
                        <label class="form-label">Symbol</label>
                        <input type="text" class="form-control dbcol" col="symbol">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control dbcol" col="title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Sector</label>
                        <select class="form-select dbcol-opt" col="sector">
                            {% for sector in all_sectors %}
                            <option id="add_stock_modal_sector_{{ sector['id'] }}" db-id="{{ sector['id'] }}">{{
                                sector['title'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">BuyIn</label>
                        <input type="text" class="form-control dbcol" col="buyIn">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control dbcol" col="quantity">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit_form">Save changes</button>
            </div>
        </div>
    </div>
</div>


{%- endblock content %}

{% block footer -%}
<script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>

<script>
    portfolio_assets_doughnut_data = JSON.parse($('#portfolio_assets_doughnut').attr('data-val').replaceAll('\'', '\"'))
    portfolio_assets_doughnut_label = JSON.parse($('#portfolio_assets_doughnut').attr('label-val').replaceAll('\'', '\"'))
    chart_doughnut('#portfolio_assets_doughnut', 'Stock distrubution', portfolio_assets_doughnut_data, portfolio_assets_doughnut_label, '€', true)


    doughnut_sector_data = JSON.parse($('#doughnut_sector').attr('data-val').replaceAll('\'', '\"'))
    doughnut_sector_label = JSON.parse($('#doughnut_sector').attr('label-val').replaceAll('\'', '\"'))
    var sector_chart = chart_doughnut('#doughnut_sector', 'Sector distribution', doughnut_sector_data, doughnut_sector_label, '%', true)

    var test = 'hallo'
    // chart_linechart('portfolio_stock_sectore_doughnut', 'Line chart', data_asset_allocation, labels_asset_allocation)


</script>

{%- endblock footer %}