<h1>{{asset.title}}: {{asset.regularMarketPrice}} €</h1>

<div id="stock_navigation" class="ui secondary pointing menu">
    <a class="active item" data-attr="default">
        Home
    </a>
    <a class="item" data-attr="info">
        Info
    </a>


    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>

<div id="content">
    <div class="elem" data-attr="default">
        {% include "assets/etf/default.html" %}
    </div>
    <div class="elem hidden" data-attr="info"></div>
</div>


<script>
    let symbol = '{{ asset.symbol }}';
    let portfolio_id = '{{ portfolio_id }}';
</script>
<script src="{{ url_for('static', filename='js/etf.js') }}"></script>