<div class="right menu">
    {% if current_user.is_authenticated %}
        <div class="ui dropdown item">
            <i class="user icon"></i>
            <div class="text">{{ user.username }}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <span class="description">ctrl + o</span>
                    Open...
                </div>
                <a href="" class="item">
                    <i class="user icon"></i>
                    Account
                </a>

                <div class="item">
                    <i class="settings icon"></i>
                    Move to folder
                </div>

                <div class="divider"></div>
                <a class="item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
        </div>
    {% endif %}
</div>