<div class="card-header">
    <div class="settings ui mini basic icon buttons">
        <button class="ui button active" id="today" data-days="2" data-period="5m">Yahoo</button>
        <button class="ui button" data-id="week" data-days="7" data-period="60m">Source 1</button>
        <button class="ui button" data-id="month" data-days="30" data-period="1d">Source 2</button>
    </div>
    <span>News</span>
</div>
<div class="card-body fixed_scrollable_hight">
    <div class="ui active loader"></div>
    <div class="ui small feed">
        {% if news == None %}
        No news
        {% else %}
        {% for event in news %}
        <div class="event">
            <div class="ui accordion content">
                <div class="title summary">
                    <i class="dropdown icon"></i>
                    <span>{{event.title}}</span>
                    <div class="date">
                        {{event.pubDate}}
                    </div>
                </div>
                <div class="content" data-state="closed">
                    <p class="transition">
                        {{event.description_prev}} <br/>
                        <a class="subtitle" href="{{ event.link }}" target="_blank">read more...</a>
                    </p>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>

</div>